---
import projects from '../data/projects.json';
---

<link rel="stylesheet" href="/css/projects.css" />

<!-- projects -->
<section id="projects">
  <h2>Projects</h2>

  <!-- item = info + project-image -->
  <!-- info = project-name + project-descrip + tech -->
  <div class="project context">
    {projects.map(project => (
      <div class="project-item">
        <div class="project-info">
          <a href={project.link}>
            <h3 class="project-name">{project.name}</h3>
            {Array.isArray(project.description) ? 
              project.description.map(desc => <p class="project-descrip" set:html={desc}></p>) : 
              <p class="project-descrip" set:html={project.description}></p>
            }
            <p class="tech">> Tech: <span>{project.tech}</span></p>
          </a>
        </div>
        <div class="project-border"></div>
      </div>
    ))}
  </div>
</section>